@import "components/default-settings/default.css";

@import "components/blocks/explore/explore.css";

@import "components/blocks/header/header.css";
@import "components/blocks/header/header__wrapper/header__wrapper.css";


@import "components/blocks/logo/logo.css";
@import "components/blocks/logo/logo__text/logo__text.css";

@import "components/blocks/menu/menu.css";
@import "components/blocks/menu/menu__list/menu__list.css";
@import "components/blocks/menu/menu__link/menu__link.css";

@import "components/blocks/link/link.css";
@import "components/blocks/link/--types/--login/link--type--login.css";
@import "components/blocks/link/--types/--next/link--type--next.css";

@import "components/blocks/auth-header/auth-header.css";
@import "components/blocks/auth-header/auth-header__list/auth-header__list.css";
@import "components/blocks/auth-header/auth-header__list-item/auth-header__list-item.css";
@import "components/blocks/auth-header/auth-header__link/auth-header__link.css";


@import "components/blocks/block-title/block-title.css";



@import "components/blocks/explore/explore__wrapper/explore__wrapper.css";

@import "components/blocks/explore/explore__content/explore__content.css";

@import "components/blocks/block-title/block-title.css";
@import "components/blocks/block-title/--color/--black/block-title--color--black.css";
@import "components/blocks/block-title/--color/--white/block-title--color--white.css";

@import "components/blocks/block-text/block-text.css";
@import "components/blocks/block-text/--color/--gray/block-text--color--gray.css";
@import "components/blocks/block-text/--color/--black/block-text--color--black.css";

@import "components/blocks/nameplate/nameplate.css";
@import "components/blocks/nameplate/__text/nameplate__text.css";
@import "components/blocks/nameplate/__text/--color/--white/nameplate__text--color--white.css";
@import "components/blocks/nameplate/__text/--color/--black/nameplate__text--color--black.css";

@import "components/blocks/gallery/gallery.css";
@import "components/blocks/gallery/gallery__content/gallery__content.css";
@import "components/blocks/gallery/gallery__wrapper/gallery__wrapper.css";

.slider {
    width: calc(256*4px);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__line {
    left: 0;
    position: relative;
    display: flex;
    transition: all 0.2s;
}

.slider__item {
    display: flex;
    width: 256px;
    aspect-ratio: 1;
    border: 1px solid black;
    overflow: hidden;
    background-size: cover;
}

.slider__item-last {
    width: 56px;
    height: 256px;
}

.slider__img {
    width: 256px;
    aspect-ratio: 1;
}

.slider__item-center {
    height: 300px;
}