.menu__link {
    text-decoration: none;
    font-family: "Arial", serif;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.menu__link:after {
    width: 20px;
    height: 2px;
    background-color: white;
}